@use "@material/textfield" with($height: 52px);
@use "@material/radio" with ($minimum-size: 16px, $ripple-size: 50px);
@use "@material/button/_button-shared-theme.scss" with ($height: 42px, $minimum-height:30px);
@use "@material/data-table/_data-table-theme.scss" with($row-height:48px, $minimum-row-height: 0);
@use "@material/button";

@import "./theme/theme";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 0.875rem;
}
