

.mat-button-toggle-group {
    & .mat-button-toggle{
        color: #fff;
        border: none;
    }
    & .mat-button-toggle:not(.menu-button) {
        background-color: #1E62A1;
        
    }
    & .menu-button{
        background-color: #003972;;
    }
}


.margin-top-134px{
    margin-top: 13.4rem;
}