<header-page>
</header-page>

<card-menu-container></card-menu-container>

<div class="p-3 d-flex gap-2 justify-content-center ">
    <card-data-proyecto></card-data-proyecto>
    <card-data-proyecto></card-data-proyecto>
    <card-data-proyecto></card-data-proyecto>
    <card-data-proyecto></card-data-proyecto>
    <card-data-proyecto></card-data-proyecto>
    <card-data-proyecto></card-data-proyecto>
    <card-data-proyecto></card-data-proyecto>
    <card-data-proyecto></card-data-proyecto>
    <card-data-proyecto></card-data-proyecto>
    <card-data-proyecto></card-data-proyecto>
    <card-data-proyecto></card-data-proyecto>
    <card-data-proyecto></card-data-proyecto>
</div>