<!-- <div>
  <app-header-model-proyecto-venta></app-header-model-proyecto-venta>
  <div class="column gap-1 px-3 pt-1">
    <div class="row gap-2 justify-content-center">
      <app-card-model-proyecto-venta></app-card-model-proyecto-venta>
      <app-card-model-proyecto-venta></app-card-model-proyecto-venta>
      <app-card-model-proyecto-venta></app-card-model-proyecto-venta>
      <app-card-model-proyecto-venta></app-card-model-proyecto-venta>
      <app-card-model-proyecto-venta></app-card-model-proyecto-venta>
      <app-card-model-proyecto-venta></app-card-model-proyecto-venta>
      <app-card-model-proyecto-venta></app-card-model-proyecto-venta>
      <app-card-model-proyecto-venta></app-card-model-proyecto-venta>
      <app-card-model-proyecto-venta></app-card-model-proyecto-venta>
      <app-card-model-proyecto-venta></app-card-model-proyecto-venta>
      <app-card-model-proyecto-venta></app-card-model-proyecto-venta>
      <app-card-model-proyecto-venta></app-card-model-proyecto-venta>
    </div>
  </div>
</div> -->
<!-- <div>
  <div class="column gap-2 px-3">
    <div class="row gap-2 justify-content-center">
      <app-card-model-plano-general></app-card-model-plano-general>
      <app-card-model-plano-general></app-card-model-plano-general>
      <app-card-model-plano-general></app-card-model-plano-general>
      <app-card-model-plano-general></app-card-model-plano-general>
      <app-card-model-plano-general></app-card-model-plano-general>
      <app-card-model-plano-general></app-card-model-plano-general>
      <app-card-model-plano-general></app-card-model-plano-general>
      <app-card-model-plano-general></app-card-model-plano-general>
      <app-card-model-plano-general></app-card-model-plano-general>
      <app-card-model-plano-general></app-card-model-plano-general>
      <app-card-model-plano-general></app-card-model-plano-general>
      <app-card-model-plano-general></app-card-model-plano-general>
    </div>
  </div>
  <app-header-model-plano-general></app-header-model-plano-general>
  <app-plan-model-plano-general></app-plan-model-plano-general>
  <div class="row">
    <div class="gap-2 px-3 plano">
      <img src="../../assets/edi_pic.svg" alt="Foto Edificio" />
    </div>
    <div class="d-flex align-items-center card">
      <div class="row justify-content-center gap-2 scroll">
        <app-card-model-plano-general></app-card-model-plano-general>
        <app-card-model-plano-general></app-card-model-plano-general>
        <app-card-model-plano-general></app-card-model-plano-general>
        <app-card-model-plano-general></app-card-model-plano-general>
        <app-card-model-plano-general></app-card-model-plano-general>
        <app-card-model-plano-general></app-card-model-plano-general>
        <app-card-model-plano-general></app-card-model-plano-general>
        <app-card-model-plano-general></app-card-model-plano-general>
      </div>
    </div>
  </div>
</div> -->
<div>
  <app-header-model-seleccion-inmueble></app-header-model-seleccion-inmueble>
  <app-card-model-seleccion-inmueble></app-card-model-seleccion-inmueble>
</div>
