.mat-mdc-card {
    width: 297px;
}

.cantidad{
    border-radius: 8px;
    &-disponibles{
        background-color: #C3E58F;
    }
    &-vendidas{
        background-color: #FFA1A1;
    }
    &-reservadas{
        background-color: #C0E2EE;

    }
}
