<mat-card >
    <mat-card-header class="p-3 row align-items-center ">
        <div class="row align-items-center ">
            <span class="mat-subtitle-1 color-text-primary ellipsis col-8">Chicala E1 - Apartamento tipo B - Área 45 mts2.</span>
            <button mat-icon-button color="primary"  (click)="openDialog()"  >
                <mat-icon class="mat-icon-outlined">map</mat-icon>
            </button>
        </div>
    </mat-card-header>
    <mat-card-content class="p-3 column align-items-start">
        <div class="column justify-content-start">
            <span class="mat-subtitle-2 color-primary">Carateristicas</span>
            <span class="mat-body-1 color-text-secondary ">Área construida de 45,42 m + 3 baños  + 5 habitaciones en exclusiva zona...</span>
        </div>
        <div class="d-flex gap-1 mt-1">
            <div class="column align-items-center p-3 cantidad cantidad-disponibles">
                <mat-label class="color-text-primary">Disponibles</mat-label>
                <span class="mat-subtitle-2 mt-1 color-text-primary">80</span>
            </div>

            <div class="column align-items-center p-3 cantidad cantidad-vendidas" >
                <mat-label class="color-text-primary">Vendidas</mat-label>
                <span class="mat-subtitle-2 mt-1 color-text-primary">64</span>
            </div>

            <div class="column align-items-center p-3 cantidad cantidad-reservadas">
                <mat-label class="color-text-primary">Reservadas</mat-label>
                <span class="mat-subtitle-2 mt-1 color-text-primary">0</span>
            </div>

        </div>
    </mat-card-content>
</mat-card>