<section class="d-flex column align-items-start gap-2">
  <aside class="d-flex align-items-start gap-2">
    <mat-card>
      <mat-card-header class="p-3">Porto allegre 88 Av Calle 58...</mat-card-header>
      <mat-card-content class="d-flex column gap-1 pt-6 pr-4 pb-2 pr-4">
        <article class="d-flex column align-items-center py-3 gap-2">
          <img src="../../../assets/img/logocCard.png" alt="logo" />
        </article>
        <article>
          <div class="d-flex align-items-center justify-content-between">
            <p class="mat-subtitle-2 color-primary">Total unidades</p>
            <p class="">945</p>
          </div>
        </article>
      </mat-card-content>
    </mat-card>
  </aside>
</section>
