<section class="page-header mat-elevation-z1 py-2 px-6">
  <div class="d-flex align-items-center">
    <div class="d-flex column align-items-start">
      <button mat-button color="primary" routerLink="/plano-general">
        Volver
        <mat-icon>chevron_left</mat-icon>
      </button>
      <div class="d-flex align-items-center gap-3">
        <h6 class="color-text-primary">Seleccion del inmueble</h6>
        <p class="mat-subtitle-1 color-text-secondary text">
          Proyecto: Arboleda de Chicala
        </p>
      </div>
    </div>
  </div>
</section>
<section class="d-flex align-items-start gap-3">
  <mat-card class="card d-flex column align-items-center">
    <mat-card-content class="d-flex justify-content-center align-items-start">
      <div class="d-flex column align-items-start py-6 px-0">

      </div>
    </mat-card-content>
  </mat-card>
</section>
