<mat-card class="column align-items-center card prueba">
    <mat-card-content class="row justify-content-center">
        <div class="column py-6">
            <mat-tab-group class="row justify-content-center align-items-center pl-6">
                <mat-tab label="Apartamento tipo 1 46,86 m2 Área..."></mat-tab>
                <mat-tab label="Apartamento tipo 1 46,86 m2 Área..."></mat-tab>
                <mat-tab label="Apartamento tipo 1 46,86 m2 Área..."></mat-tab>
                <mat-tab label="Apartamento tipo 1 46,86 m2 Área..."></mat-tab>
                <mat-tab label="Apartamento tipo 1 46,86 m2 Área..."></mat-tab>
                <mat-tab label="Apartamento tipo 1 46,86 m2 Área..."></mat-tab>
                <mat-tab label="Apartamento tipo 1 46,86 m2 Área..."></mat-tab>
                <mat-tab label="Apartamento tipo 1 46,86 m2 Área..."></mat-tab>
            </mat-tab-group>
        </div>
    </mat-card-content>
</mat-card>