<mat-card class="mat-elevation-z1 card">
  <mat-card-header class="row align-items-center p-3">
    <h6>Porto allegre 88 Av Calle 58...</h6>
  </mat-card-header>
  <mat-card-content class="column pt-6 px-4 pb-2 gap-1">
    <div class="column justify-content-center align-items-center px-3 gap-2">
      <img src="../../../assets/resev_sd.svg" alt="Reserva San David" />
    </div>
    <div class="column gap-1">
      <div class="row justify-content-between">
        <p class="mat-subtitle-2 color-primary">Total Unidades</p>
        <p class="mat-subtitle-2">945</p>
      </div>
      <div class="column gap-1">
        <div class="row justify-content-between">
          <p class="mat-subtitle-2 color-primary">Unidades Vendidas</p>
          <p class="mat-subtitle-2">564</p>
        </div>
        <mat-progress-bar
          class="color-primary"
          mode="determinate"
          value="48.18"
        ></mat-progress-bar>
      </div>
      <p class="mat-subtitle-2 column align-items-center">48.18%</p>
    </div>
  </mat-card-content>
</mat-card>
