.margin-top-134px{
    margin-top: 13.4rem;
}
.container-img{
    height: 100%;
    position: fixed;
    left: 0;
}

.container-cards{
    right: 0;
}


.top-left-9{
    top: 9%;
    left: 9%;
}

.top-left-23X47{
    top: 23%;
    left: 47%;
}

.top-left-34X73{
    top: 34%;
    left: 73%;
}
.top-left-10X15{
    top: 10%;
    left: 15%;
}

.absolute-important{
    position: absolute !important;
}
