<header-page>
  <div class="d-flex gap-2 align-items-start">
    <mat-form-field  appearance="outline" >
      <mat-label>Buscar</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" >
      <mat-label>Proyectos por vendedor</mat-label>
      <mat-select  >
    
          <mat-option >
            prueba
          </mat-option>
      </mat-select>
    </mat-form-field>

  </div>
</header-page>
<div class="p-3 d-flex gap-2 justify-content-center ">
    <card-container-proyecto></card-container-proyecto>
    <card-container-proyecto></card-container-proyecto>
    <card-container-proyecto></card-container-proyecto>
  
    <card-container-proyecto></card-container-proyecto>
    <card-container-proyecto></card-container-proyecto>
    <card-container-proyecto></card-container-proyecto>
  
    <card-container-proyecto></card-container-proyecto>
    <card-container-proyecto></card-container-proyecto>
    <card-container-proyecto></card-container-proyecto>
  
    <card-container-proyecto></card-container-proyecto>
    <card-container-proyecto></card-container-proyecto>
    <card-container-proyecto></card-container-proyecto>
</div>