.card{
    width: 295px;
    height: 210px;
}

.min-card{
    width: 81.83px;
}

.bckg{
    background-color: #C3E68F;
    border-radius: 8px;
}

.bckr{
    background-color: #FFA2A2;
    border-radius: 8px;
}

.bckb{
    background-color: #C0E2EE;
    border-radius: 8px;
}
.full-width{
    width: 100%;
}