<mat-card class="mat-elevation-z1 card">
  <mat-card-header class="row align-items-center p-4">
    <div class="d-flex row align-items-center justify-content-between full-width">
      <h6>Chicala E1 - Apartamento ap...</h6>
      <button mat-icon-button size="small" (click)="openDialog()">
        <mat-icon color="primary" class="mat-icon-outlined">map</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content class="column pt-2 px-5 gap-1">
    <div class="column">
        <p class="mat-subtitle-2 color-primary">Características</p>
        <p class="mat-body-1 color-text-secondary">Área construida de 45,42 m + 3 baños + 5 habitaciones en exclusiva zona...</p>
    </div>
    <div class="row gap-1">
        <div class="column align-items-center p-3 gap-1 bckg min-card">
            <p class="mat-caption row align-items-center">Disponibles</p>
            <p class="mat-subtitle-2 column">80</p>
        </div>
        <div class="column align-items-center p-3 gap-1 bckr min-card">
            <p class="mat-caption row align-items-center">Vendidas</p>
            <p class="mat-subtitle-2 column">64</p>
        </div>
        <div class="column align-items-center p-3 gap-1 bckb min-card">
            <p class="mat-caption row align-items-center">Reservadas</p>
            <p class="mat-subtitle-2 column">0</p>
        </div>
    </div>
  </mat-card-content>
</mat-card>