<div class="page-header mat-elevation-z1 pt-2 pb-2 px-6">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex column align-items-start">
      <button mat-button color="primary">
        Volver
        <mat-icon>chevron_left</mat-icon>
      </button>
      <div>
        <h6 class="color-text-primary">Proyectos en ventas</h6>
      </div>
    </div>
    <div class="gap-1 d-flex">
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Buscar</mat-label>
          <input
            type="text"
            placeholder="Pick one"
            aria-label="Number"
            matInput
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option> </mat-option>
          </mat-autocomplete>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </form>
      <mat-form-field appearance="outline">
        <mat-label>Proyectos de vendedor</mat-label>
        <mat-select>
          <mat-option value="option1"
            >Auxiliar operativo de la venta 14</mat-option
          >
          <mat-option value="option2"
            >Daniel Ricardo Castellano Sepulveda</mat-option
          >
          <mat-option value="option3">Sergio Vergara García</mat-option>
          <mat-option value="option4"
            >Auxiliar operativo de la venta 14</mat-option
          >
          <mat-option value="option4"
            >Daniel Ricardo Castellano Sepulveda</mat-option
          >
          <mat-option value="option4">Sergio Vergara García</mat-option>
          <mat-option value="option5"
            >Auxiliar operativo de la venta 14</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
