<header-page namePage="Seleccion del inmueble" >
    <span class="mat-subtitle-1 color-text-secondary" subtitle>Proyecto: Arboleda de Chicala</span>
</header-page>

    
<mat-tab-group class="fixed mt-18 col-12" size="medium" orientation="vertical" animationDuration="0s" color="primary">
    <mat-tab label="Apartamento tipo 1 46,86 m2 Área...">a</mat-tab>
    <mat-tab label="Apartamento tipo 1 46,86 m2 Área...">b</mat-tab>
    <mat-tab label="Apartamento tipo 1 46,86 m2 Área...">c</mat-tab>
    
    <mat-tab label="Apartamento tipo 1 46,86 m2 Área...">d</mat-tab>
    <mat-tab label="Apartamento tipo 1 46,86 m2 Área...">f</mat-tab>
    <mat-tab label="Apartamento tipo 1 46,86 m2 Área...">g</mat-tab>
    
    <mat-tab label="Apartamento tipo 1 46,86 m2 Área...">h</mat-tab>
    <mat-tab label="Apartamento tipo 1 46,86 m2 Área...">i</mat-tab>
    

  </mat-tab-group>
  