<header-page namePage="Seleccion del inmueble" >
    <span class="mat-subtitle-1 color-text-secondary" subtitle>Proyecto: Arboleda de Chicala</span>
</header-page>

    
<mat-tab-group class="fixed mt-18 col-12" orientation="vertical"  backgroundColor="primary">
    <mat-tab class="col-6" label="Apartamento tipo 1 46,86 m2 en Área construida de 90 m2 por 120 m2 saliendo de Bogotá ">app</mat-tab>
    <mat-tab label="Apartamento tipo 1 46,86 m2 en Área construida de 90 m2 por 120 m2 saliendo de Bogotá ">app</mat-tab>
    <mat-tab label="Apartamento tipo 1 46,86 m2 en Área construida de 90 m2 por 120 m2 saliendo de Bogotá ">app</mat-tab>
    <mat-tab label="Apartamento tipo 1 46,86 m2 en Área construida de 90 m2 por 120 m2 saliendo de Bogotá ">app</mat-tab>
    <mat-tab label="Apartamento tipo 1 46,86 m2 en Área construida de 90 m2 por 120 m2 saliendo de Bogotá ">app</mat-tab>
    <mat-tab label="Apartamento tipo 1 46,86 m2 en Área construida de 90 m2 por 120 m2 saliendo de Bogotá ">app</mat-tab>
    <mat-tab label="Apartamento tipo 1 46,86 m2 en Área construida de 90 m2 por 120 m2 saliendo de Bogotá ">app</mat-tab>
    <mat-tab label="Apartamento tipo 1 46,86 m2 en Área construida de 90 m2 por 120 m2 saliendo de Bogotá ">app</mat-tab>
    <mat-tab label="Apartamento tipo 1 46,86 m2 en Área construida de 90 m2 por 120 m2 saliendo de Bogotá ">app</mat-tab>
    <mat-tab label="Apartamento tipo 1 46,86 m2 en Área construida de 90 m2 por 120 m2 saliendo de Bogotá ">app</mat-tab>
    <mat-tab label="Apartamento tipo 1 46,86 m2 en Área construida de 90 m2 por 120 m2 saliendo de Bogotá ">app</mat-tab>
  </mat-tab-group>
  