<header class="page-header column pt-2 pb-1 px-6 mat-elevation-z1">
    <div class="row align-items-center">
        <div class="column">
            <div class="d-flex align-items-center ">
                <button mat-button color="primary">
                  <mat-icon matIconSuffix>keyboard_arrow_left</mat-icon>Volver
                </button>
              </div>
              <div class="row align-items-baseline gap-1">
                <h6>Plano general</h6>
                <p class="mat-subtitle-1 color-text-secondary justify-content-center">Proyecto: Arboleda de Chicala</p>
              </div>
        </div>
    </div>
</header>