@use "sass:map";
@use "@angular/material" as mat;
@use "@material/button";
// @use "@material/chips";
@import "./mixins";

@include mat.core();
// Eliminacion hint elemento de form field componente
[class*="mat-mdc-form-field-subscript-wrapper"] {
  &:not(:has(:only-child mat-hint)) {
    display: none;
  }
}

.mat-mdc-form-field.standard{
  &:not(:has(.mat-mdc-select)) {
    & .mat-mdc-text-field-wrapper {
      padding-inline: 0px;
    }
    & .mat-icon {
      padding-right: 0 !important;
      padding-block: 0 3px !important; 
    }
    & .mat-mdc-form-field-icon-suffix,& input {
      align-self: flex-end;
    }
  }
  &:has(.mat-mdc-select) {
    & .mat-mdc-text-field-wrapper {
      padding-inline: 0 12px;
    }
    & .mat-mdc-select {
      display: inline-flex;
      &-arrow-wrapper {
        height: 0;
        transform: translateY(0%);
      }
      &-trigger {
        align-self: flex-end;
      }
    }
  }
  .mdc-floating-label {
    transform: translateY(0%);
    &:not(.mdc-floating-label--float-above) {
      top: auto !important;
      bottom: 0;
      padding-bottom: 2.5px;
    }
     &.mdc-floating-label--float-above {
      bottom: 0% !important;
      transform: translateY(-100%) scale(0.75) !important;
     }
  }
  .mat-mdc-form-field-infix {
    display: inline-flex;
    padding-bottom: 0px !important;
  }
  .mdc-text-field--filled:not(.mdc-text-field--disabled),.mat-mdc-form-field-focus-overlay {
    background-color: transparent;
  }
  .mat-mdc-form-field-hint-wrapper {
    padding: 0px ;
  }
  & input,.mat-mdc-select {
    place-self: end;
  }
}

//////////// SMALL
///
// Conversion de REM to PX, 1rem = 10px

// Componentes con pseudo-clase  :not()
// Brinda dar mayor especificidad al aplicar densidad   ( BUTTONS , MAT-CHIP, MAT-CHIP-OPTION )
:not(.medium) {
  &.mat-mdc-chip,&.mat-md-chip-option {
    &.mat-mdc-standard-chip .mdc-evolution-chip__checkmark {
      width: 1.6rem;
      height: 1.6rem;
    }
    &.mat-icon {
      @include icon-size(1.428571428571429rem, 1.285714285714286rem);
    }
  }
  .mat-mdc-form-field {
    &:not(.mat-form-field-appearance-fill) {
      @include mat.form-field-density(-6);
      & .mat-mdc-form-field-infix {
        display: flex;
      }
    }
    &:not(.mat-form-field-appearance-outline) {
      @include mat.form-field-density(-4.5);
      .mat-mdc-form-field-infix{
        padding-bottom: 0px !important;
      }
    }
    &.standard:not(.mat-form-field-appearance-outline){
      @include mat.form-field-density(-5.25);
      .mat-mdc-form-field-infix{
        padding-bottom: 0px !important;
      }
    }
    & .mat-icon{
      @include icon-size(16px!important, 16px!important);
      padding: 0px 12px !important;
    }
    & input,.mat-mdc-select {
      place-self: center;
    }
    @include mat.icon-button-density(-4); 
}  

}
// BUTTON
.mdc-button {
  &:not(.large, .small) {
    &.mdc-button {
      @include button.density(-2.5);
    }
    & .mat-icon {
      height: 1.333rem !important;
    }
  }
}
//PROGRES SPINER
.mat-mdc-progress-spinner {
  width: 4rem !important;
  height: 4rem !important;
}
// ICON
.mat-icon {
  @include icon-size(1.6rem !important, 1.3rem !important);
}
//BUTTON TOGGLE
.mat-button-toggle-group {
  @include mat.button-toggle-density(-6);
}
// EXPANSION PANEL
.mat-expansion-panel {
  .mat-expansion-panel-header.mat-expanded {
    height: 6rem;
  }
  & .mat-expansion-panel-header {
    height: 4.4rem;
  }
  & .material-icons {
    width: 1.6rem;
    height: 1.6rem;
  }
}
// LIST with icon
.mdc-list {
  @include mat.icon-button-density(-3);
  @include mat.list-density(-3);
  .mat-mdc-icon-button.mat-mdc-button-base {
    padding: 1rem;
  }
  .mat-icon {
    @include icon-size(1.8rem, 1.8rem);
  }
  .mat-mdc-icon-button .mat-mdc-button-touch-target {
    @include icon-size(3.6rem, null);
  }
}
// SUFFIX
.mat-mdc-form-field-icon-suffix > .mat-icon {
  padding: 0.5714285714285714rem;
}
// TAB
.mat-mdc-tab-header {
  & .mat-mdc-tab.mdc-tab {
    height: 4rem;
  }
}
// SLIDER
.mdc-slider {
  --mdc-slider-inactive-track-height: 0.2rem;
  --mdc-slider-handle-width: 1.2rem;
  --mdc-slider-handle-height: 1.2rem;
  &.mat-mdc-slider .mdc-slider__track--active {
    --mdc-slider-active-track-height: 0.2rem;
  }
}
// FAB
.mat-mdc-fab {
  &:not(.mdc-fab--extended) {
    width: 3.6rem;
    height: 3.6rem;
  }
  &.mat-mdc-extended-fab {
    height: 3.2rem;
  }
}
.mdc-fab--mini {
  width: 3.6rem !important;
  height: 3.6rem !important;
}
// CHECKBOX
.mdc-checkbox {
  @include mat.checkbox-density(-3);
  --mdc-checkbox-state-layer-size: 38px;
  padding: 10px !important;
  .mdc-checkbox__background {
    @include icon-size(16px, " ");
  }
}
// DATA TABLE
.mat-mdc-table {
  &.mat-mdc-table .mdc-data-table__header-row {
    height: 36px;
  }
  &.mat-mdc-table .mdc-data-table__row {
    height: 32px;
  }
}
// RADIO BUTTON
.mdc-radio {
  --mdc-radio-state-layer-size: 38px;
  &.mdc-radio__background {
    &.mdc-radio__inner-circle {
      @include mat.radio-density(-3);
    }
  }
  .mat-mdc-radio-touch-target {
    @include icon-size(38px, null);
  }
  // ICON BUTTON
  .mat-mdc-icon-button.mat-mdc-button-base {
    @include icon-size(2.285714285714286rem, null);
    padding: 0.4285714285714286rem;
    & > .mat-icon {
      @include icon-size(1.428571428571429rem, 1.285714285714286rem);
    }
  }
  &.mat-icon {
    @include icon-size(1.428571428571429rem, 1.285714285714286rem);
  }
}

.medium{
  &.mat-mdc-form-field {
    &:not(.mat-form-field-appearance-fill) {
      @include mat.form-field-density(-1);
      & .mat-mdc-form-field-infix {
        display: flex;
      }
    }
    &:not(.mat-form-field-appearance-outline) {
      @include mat.form-field-density(-2.5);
    }
    &.standard:not(.mat-form-field-appearance-outline) {
      @include mat.form-field-density(-4.5);
    }
  }
}