@use "@angular/material" as mat;
@use "sass:map";

$h3: mat.define-typography-level(
  $font-size: 2.8rem,
  $font-weight: 500,
  $line-height: 33.6,
  $letter-spacing: 0px !important,
  $font-family: Nunito !important,
);
$h4: mat.define-typography-level(
  $font-weight: 600,
  $font-size: 2rem,
  $line-height: 20,
  $letter-spacing: 0.25 !important,
  $font-family: Nunito !important,
);
$h5: mat.define-typography-level(
  $font-weight: 600,
  $font-size: 1.8rem,
  $line-height: 28.8,
  $letter-spacing: 0 !important,
  $font-family: Nunito !important,
);
$h6: mat.define-typography-level(
  $font-weight: 600,
  $font-size: 1.6rem,
  $line-height: 22.4,
  $letter-spacing: 0.15 !important,
  $font-family: Nunito !important,
);
$overline: mat.define-typography-level(
  $font-family: Roboto,
  $font-weight: 400,
  $font-size: 1.1rem,
  $line-height: 29.26,
  $letter-spacing: 1,
);
$typography-global-config: map.merge(
  mat.define-typography-config(
    $font-family: "Roboto",
    $headline-5:
      mat.define-typography-level(
        $font-family: Nunito,
        $font-weight: 300,
        $font-size: 4rem,
        $line-height: 56,
        $letter-spacing: -1.5,
      ),
    $headline-6:
      mat.define-typography-level(
        $font-family: Nunito,
        $font-weight: 400,
        $font-size: 3.2rem,
        $line-height: 38.4,
        $letter-spacing: -0.5,
      ),
    $subtitle-1:
      mat.define-typography-level(
        $font-family: Roboto,
        $font-weight: 500,
        $font-size: 1.4rem,
        $line-height: 19.6,
        $letter-spacing: 0.15,
      ),
    $subtitle-2:
      mat.define-typography-level(
        $font-family: Roboto,
        $font-weight: 500,
        $font-size: 1.3rem,
        $line-height: 18.2,
        $letter-spacing: 0.1,
      ),
    $body-1:
      mat.define-typography-level(
        $font-family: Roboto,
        $font-weight: 400,
        $font-size: 1.3rem,
        $line-height: 15.6,
        $letter-spacing: 0.17,
      ),
    $body-2:
      mat.define-typography-level(
        $font-family: Roboto,
        $font-weight: 400,
        $font-size: 1.4rem,
        $line-height: 19.6,
        $letter-spacing: 0.15,
      ),
    $button:
      mat.define-typography-level(
        $font-family: Roboto,
        $font-weight: 500,
        $font-size: 0.8125rem,
        $line-height: 1.75,
        $letter-spacing: 0.02857em,
      ),
    $caption:
      mat.define-typography-level(
        $font-family: Roboto,
        $font-weight: 400,
        $font-size: 1.1rem,
        $line-height: 15.4,
        $letter-spacing: 0.4,
      ),
  ),
  (
    "h3": $h3,
    "h4": $h4,
    "h5": $h5,
    "h6": $h6,
    "overline": $overline,
  )
);
.mat-headline-5,
.mat-h1,
h1,
.mat-headline-6,
.mat-h2,
h2,
.mat-subtitle-1,
.mat-h3,
h3,
.mat-h4,
h4,
.mat-body-1,
p,
.mat-h5,
h5,
.mat-h6,
h6 {
  margin: 0 !important;
}
.mat-h3,
h3 {
  @include mat.typography-level($typography-global-config, "h3");
}
.mat-h4,
h4 {
  @include mat.typography-level($typography-global-config, "h4");
}
.mat-h5,
h5 {
  @include mat.typography-level($typography-global-config, "h5");
}
.mat-h6,
h6 {
  @include mat.typography-level($typography-global-config, "h6");
}
.mat-overline {
  text-transform: uppercase;
  @include mat.typography-level($typography-global-config, "overline");
}
@include mat.all-component-typographies($typography-global-config);