


<mat-card routerLink="/plano-general">
    <mat-card-header class="p-3 ">
        <h6 class="color-text-primary">Porto allegre 88Av calle 58</h6>
    </mat-card-header>
    <mat-card-content class="pt-6 pl-4 pb-2 pr-4">
        <div class="px-3 d-flex justify-content-center">
            <img src="../assets/Logo.jpg" alt="logo">
        </div>
        <div class="d-flex column justify-content-start">
            <div class="d-flex justify-content-between ">
                <span class="mat-subtitle-2 color-primary">Total Unidades</span>
                <span class="mat-subtitle-2 color-text-primary">954</span>
            </div>
        </div>
        <div class="mt-1 d-flex column justify-content-start">
            <div class="d-flex justify-content-between ">
                <span class="mat-subtitle-2 color-primary">Unidades Vendidas</span>
                <span class="mat-subtitle-2 color-text-primary">564</span>
            </div>
        </div>
        <mat-progress-bar class="mt-2" mode="determinate" value="48"></mat-progress-bar>
        <div class="mt-2 d-flex justify-content-center">
            <span class="mat-subtitle-2">%48.18%</span>
        </div>
    </mat-card-content>
</mat-card>



