<div class="d-flex a-center s-evenly column p-base full-view">

  <!-- ------BUTTON -->
  <div class="d-flex clomun a-center">
    <h4>Buttons</h4>
  </div>
  <div class="d-flex a-center s-evenley">
    <button mat-raised-button color="primary">Small</button>
    <button mat-raised-button color="primary">
      Small<mat-icon>add</mat-icon>
    </button>
  </div>

  <!--  PROGRES SPINNER -->
  <div class="d-flex a-center s-evenly column">
    <h4>Spinner</h4>
    <mat-spinner></mat-spinner>
  </div>

  <!-- LISTAS -->
  <div class="d-flex a-center column">
    <h4>Listas</h4>
    <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </div>

  

  <div class="d-flex a-center s-evenly column">
    <h4>Iconos</h4>
    <mat-icon>add</mat-icon>
    <mat-icon>menu</mat-icon>
  </div>

  <!-- LISTAS CON ICONOS -->
    <div class="d-flex a-center j-center">
      <mat-list role="list" size="small" ap>
        <mat-list-item role="listitem">
          <p>Hello world</p>
          <button mat-icon-button matListItemMeta>
            <mat-icon >note</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item role="listitem">
          <p>Hello world</p>
          <button mat-icon-button matListItemMeta>
            <mat-icon matListItemIcon>note</mat-icon>
          </button>
        </mat-list-item>  
        <mat-list-item role="listitem">
          <p>Hello world</p>
          <button mat-icon-button matListItemMeta>
            <mat-icon matListItemIcon>note</mat-icon>
          </button>
        </mat-list-item>
        </mat-list >
    </div>

  <!-- BUTTON GROUP -->
  <div class="d-flex a-center j-center column">
    <h4>Button group</h4>
    <div>
      <mat-button-toggle-group>
        <mat-button-toggle value="bold">Bold</mat-button-toggle>
        <mat-button-toggle value="italic">Italic</mat-button-toggle>
        <mat-button-toggle value="underline">Underline</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>

  <!-- EXPANSION PANEL -->
  <div class="d-flex a-center j-center m-base column">
    <h4>Expansion panel</h4>
    <br />
    <div>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title> This is the expansion title </mat-panel-title>
            <mat-panel-description>
              This is a summary of the content
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Self aware panel </mat-panel-title>
            <mat-panel-description>
              Currently I am {{ panelOpenState ? "open" : "closed" }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <!-- ICON BUTTON -->
  <div class="d-flex a-center s-evenly m-base">
    <button mat-icon-button color="primary">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button color="warn">
      <mat-icon>add</mat-icon>
    </button>
  </div>

</div>
