.d-flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.j-center {
  justify-content: center;
}
.s-evenley {
  justify-content: space-evenly;
}
.s-between {
  justify-content: space-between;
}
.a-center {
  align-content: center;
}
.m-base {
  margin: 1rem;
}
.p-base {
  padding: 1rem;
}
.full-view {
  width: 100%;
  height: 100%;
}
.full-with {
  width: 100%;
}
.full-height {
  height: 100%;
}
.min-width{
  width: 10rem;
}.medio {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.example-spacer {
  flex: 1 1 auto;
}


.container-elevations {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-block: 3rem;
}
.elevation-example {

  width: 20%;
  height: 7rem;
  margin: 2rem;
}
//utilities
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}


